<footer class="site-footer">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">This website is a WIP :)</a>
            </p>
          </div>
</footer>
    </body>
</html>