</head>
<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color: black;"></span>
                    <span class="icon-bar" style="background-color: black;"></span>
                    <span class="icon-bar" style="background-color: black;"></span>
                  </button>
                <a class="navbar-brand" href="/">Portfolio Site</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="https://github.com/sr7sidharth">Github</a></li>
                    <li><a href="/workoutgen">Workout Template Generator</a></li>
                </ul>
            </div>
        </div>
    </nav>