</head>
<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color: black;"></span>
                    <span class="icon-bar" style="background-color: black;"></span>
                    <span class="icon-bar" style="background-color: black;"></span>
                  </button>
                <a class="navbar-brand" href="/"><i class="fas fa-bomb"></i>ThemExercises</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/skills"><i class="fas fa-rocket"></i>Skills</a></li>
                    <li><a href="https://github.com/sr7sidharth"><i class="fab fa-github"></i>Github</a></li>
                    <li><a href="/workoutgen"><i class="fas fa-dumbbell"></i>Workout Template Generator</a></li>
                    <li><a href="/coronavirusTracker">US Coronavirus Tracker</a></li>
                </ul>
            </div>
        </div>
    </nav>