<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="container" style="text-align: left; vertical-align: text-top;">
    <h1 style="color: #337ab7;">ThemExercises - A site to showcase my first web application</h1>
    <div class="jumbotron" style="display: flex; align-items: center; height: 100vh; background-image: url(
        'https://images.unsplash.com/photo-1559715541-5daf8a0296d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1184&q=80'
    ); background-size: cover; background-position: center;">
    </div>
</div>

<%- include ("partials/footer") %>