<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="container">
    <div class="jumbotron" style="display: flex; align-items: center;">
        <h1>ThemExercises - A site to showcase my first web application</h1>
    </div>
</div>

<%- include ("partials/footer") %>